.no-scroll::-webkit-scrollbar {
  display: none;
}

.sidebar-booking-form .content_panel {
  color: var(--text-color);
  text-align: center;
  font-family: var(--font-jost);
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.sidebar-booking-form .ant-collapse-header {
  color: #295557 !important;
  font-weight: bold;
}
.sidebar-booking-form .ant-collapse-content-box {
  padding-block: 0px !important;
  padding: 0px 17px !important;
}

.collapse_cont {
  position: sticky !important;
  max-height: 50vh;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.book_butt_cont {
  position: -webkit-sticky !important;
  position: sticky !important;
  bottom: 0;
  z-index: 200;
  width: 100%;
}

.collapse_cont::-webkit-scrollbar {
  width: 0px;
}

.travel-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
}

.travel-title {
  font-size: 25px !important;
  font-weight: bold;

  margin-bottom: 12px;
  color: #295557 !important;
}

.travel-grid {
  /* display: flex; */
  gap: 16px;
}

.day-section {
  background-color: #f7a40d1c !important;
  padding: 20px;
  margin: 10px 0;
  border: 0.1px solid #29555721;
  border-radius: 10px;
}

.day-section-bg {
  background-color: white !important;
  padding: 20px;
  border-radius: 10px;
  width: 90% !important;
  margin: 10px auto !important;
}

.day-details-div {
  padding: 0px 20px !important;
}

.travel-item {
  flex: 1;
}

.travel-label {
  display: block;
  font-size: 14px;
  color: #555 !important;
  margin-bottom: 6px;
}

.travel-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc !important;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

.travel-icon {
  color: #0f4471 !important;
  margin-right: 8px;
}

.travel-text {
  flex: 1;
}

.travel-dropdown {
  color: #555;
}
.add_travel_drop {
  color: #295557 !important;
  font-weight: 600 !important;
}
.drop_text {
  color: #000 !important;
  font-weight: 600 !important;
  font-size: 15px !important;
}

.travel_button {
  box-shadow: rgba(51, 51, 51, 0.15) 0px 4px 8px,
    rgba(51, 51, 51, 0.1) 0px 2px 4px;
  border: 1px solid #295557;
  border-radius: 50%;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  fill: #295557;
  cursor: pointer;
  color: #295557;
}
.travel_button:disabled {
  opacity: 0.5;
}

.adults_text {
  font-weight: 600;
  width: 17px;
  text-align: center;
  color: #295557 !important;
  font-size: 16px;
}

.calendar_cont {
  position: relative;
  width: 100%;
}

.calendar_cont .react-calendar {
  width: 100% !important;
  position: absolute;
}

.transfers-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

h2 {
  color: #295557;
}

.cards-container {
  display: inline-flex;
  gap: 20px;
  position: relative;
  padding-bottom: 10px;
}

.card {
  perspective: 1000px;
  min-height: 400px;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.card.selected {
  border: 2px solid #295557;
  box-shadow: 0 5px 15px rgba(41, 85, 87, 0.3);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-front {
  background-color: #fff;
  color: #333;
}

.card-back {
  background-color: #fff;
  color: #333;
  transform: rotateY(180deg);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.view-rooms-btn {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #295557;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
  font-weight: 500;
}

.view-rooms-btn.small-text {
  position: static;
  transform: none;
  margin: -5px auto 10px;
  display: block;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #295557;
  opacity: 1;
  width: fit-content;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-rooms-btn.small-text:hover {
  background-color: #1e3e40;
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card.selected .view-rooms-btn {
  opacity: 1;
}

.room-selection-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.room-selection-container h4 {
  color: #295557;
  margin-bottom: 15px;
  text-align: center;
}

.rooms-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 15px;
}

.room-item {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.room-header h5 {
  margin: 0;
  color: #295557;
}

.remove-room-btn {
  background: none;
  border: none;
  color: #ff5a5a;
  font-size: 18px;
  cursor: pointer;
}

.room-occupants {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.occupant-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #295557;
  background: white;
  color: #295557;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.counter button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.add-room-btn {
  background-color: #295557;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.room-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cancel-btn,
.confirm-btn {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.cancel-btn {
  background-color: #f0f0f0;
  color: #333;
}

.confirm-btn {
  background-color: #295557;
  color: white;
}

.card {
  background: white;
  border-radius: 10px;
  border: 2px solid #ddd;
  width: 280px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  scroll-snap-align: start;
  position: relative;
  justify-content: space-between;
  color: #000;
}

.cards-container .cards-container-learnmore {
  position: absolute;
  font-size: 15px;
  color: white;
  padding: 5px;
  right: 10px;
  top: 10px;
  border-radius: 5px;
  background-color: #295557;
  transition: 0.3s ease;
}

.cards-container .card .cards-container-location-icon {
  position: absolute;
  font-size: 15px;
  color: white;
  padding: 5px;
  left: 10px;
  top: 10px;
  border-radius: 5px;
  background-color: #295557;
  transition: 0.3s ease;
}

.cards-container .cards-container-learnmore:hover,
.cards-container .card .cards-container-location-icon:hover {
  scale: 1.1;
}

.card.selected {
  border-color: #295557;
  box-shadow: 0px 4px 8px rgba(205, 83, 59, 0.3);
}

.card-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-content h3 {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  padding: 2px;
  min-height: 55px;
}

.card.selected .card-content h3 {
  color: #295557;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  font-weight: bold;
}

.custom-radio {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  transition: border-color 0.3s ease-in-out;
}

.radio-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.custom-radio.selected {
  border-color: #295557;
}

.custom-radio.selected .radio-circle {
  background-color: #295557;
}

.card.selected .price {
  color: #295557;
}

.transfer_cont {
  font-size: 12px;
  white-space: nowrap;
  font-weight: 600;
  color: #000;
}

.card.selected .transfer_in {
  color: #295557;
}
.card.selected .transfer_cont {
  color: #295557;
}

.card.selected .transfer_cont .transfer_info {
  color: #295557;
}
.transfer_cont .transfer_info {
  font-size: 12px;
  color: #000;
  font-weight: 400;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
}

.cards-container-parent {
  width: 100%;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.transfer_feat_cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 15px;
}

.edit-button {
  display: flex;
  align-items: center;
  background-color: #295557; /* Blue background */
  color: white;
  transition: 0.3s;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.days_cont .ant-collapse-header {
  color: #295557 !important;
  padding: 0px !important;
  font-weight: bold;
}
.days_cont .ant-collapse-content-box {
  padding: 0px !important;
}

.edit-icon {
  margin-right: 6px;
  font-size: 12px;
}

.transfer_info {
  position: relative;
  display: inline-block;
}

.transfer_info:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1000;
}

.edit-button:hover {
  background-color: #295557; /* Darker blue on hover */
}

.itinerary-grid {
  display: grid;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  grid-template-columns: 1fr 1fr;
}

.itinerary-text {
  flex: 1;
}

.itinerary-text .personalize {
  color: #295557;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.day-badge {
  display: inline-block;
  background-color: #295557;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

h3 {
  margin: 10px 0;
  color: #295557;
}

:where(.css-dev-only-do-not-override-1v613y0).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: none !important;
  background: #e8a355;
  color: white;
  font-size: 22px !important;
}

.feat_tour,
.stay {
  color: #0056b3;
  font-weight: bold;
  margin: 10px 0 !important;
}

.icon {
  margin-right: 5px;
}

.description {
  color: #333;
  margin-top: 10px;
}

.read-more {
  color: #0056b3;
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}

.itinerary-image {
  overflow: hidden;
  position: relative;
}

.itinerary-image img {
  border-radius: 10px;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  color: white;
  border: none;
  border-radius: 6px;
  width: 40px;
  transition: 0.3s;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

.custom-prev:hover,
.custom-next:hover {
  background: rgba(0, 0, 0, 1);
}

.custom-prev {
  left: -5px;
}

.custom-next {
  right: -5px;
}

.days_cont {
  overflow: hidden;
}

.five_grid_modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.img_grid_modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.img_badge {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.experience_head {
  background-color: #295557;
  width: 100%;
}

.experience_head .modal-title {
  width: 100%;
  text-align: center;
  color: #fff !important;
}

.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 10px;
  background-color: #e0e0e0;
  z-index: 1000;
}

.progress-bar {
  width: 100%;
  background-color: #295557;
  transition: height 0.3s ease;
}

.view-rooms-container {
  margin: -10px 0 10px;
  text-align: center;
}

.view-rooms-btn.small-text {
  position: static;
  transform: none;
  margin: 0 auto;
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #295557;
  opacity: 1;
  width: fit-content;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-accom-btn {
  display: block;
  width: fit-content;
  margin: 0 auto 10px;
  padding: 5px 12px;
  font-size: 12px;
  background-color: transparent;
  color: #295557;
  border: 1px solid #295557;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-accom-btn:hover {
  background-color: #295557;
  color: white;
}

.accom-modal-header {
  background-color: #295557;
  color: white;
  border-bottom: none;
}

.accom-modal-header .modal-title {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
}

.accom-modal-header .btn-close {
  color: white;
  opacity: 1;
  background: transparent;
  font-size: 24px;
}

.accom-modal-image {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  border-radius: 6px;
}

.accom-modal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accom-modal-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.accom-detail-item h5 {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.accom-detail-item p {
  font-size: 16px;
  color: #333;
  margin-bottom: 0;
}

.price-highlight {
  color: #295557;
  font-weight: bold;
  font-size: 18px;
}

.rating {
  font-weight: bold;
  color: #295557;
}

.accom-description {
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.accom-description h5 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.accom-description p {
  color: #666;
  line-height: 1.6;
}

@media (max-width: 790px) {
  .itinerary-grid {
    grid-template-columns: 1fr;
  }
}
